header nav.navigation ul li.bouton {
	display: inline-block;
	list-style: none;
	margin-left: 50px;
	margin-right: 50px;
}
h1 {
	text-align: center;
	font-family: arial;
}
#conteneur {
	display: flex;
	justify-content: space-between;
}
.article {
	flex: 2;
}
.menu {
	flex: 1;
}
