html, body {
	height :100%;
}
a {
	text-decoration: none;
}
header {
	height: 15%;
	background-color: #EEE;
}
footer {
	height: 15%;
	background-color: #EEE;
	flex: none;
	margin-top: auto;
}
p {
	text-align: justify;
}
.main {
	display: flex;
	height: 100%;
}
.sidebar {
	display:flex;
	width: 15%;
	border-right: 2 solid;
	flex-direction: column;
	
}
.page {
	margin-left: 10px;
	display:flex;
	width: 80%;
	flex-direction: column;
}
.sidebar_header h1 {
	display: flex;
	align-items: center;
	margin-left: 5px;
	flex-wrap: nowrap;
}
.page_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.page_header h2 {
	margin-left: 5px;
	white-space: nowrap;
}
.header_nav {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.cadre_1 p {
	display: flex;
}