html, body {
	height: 100%;
	margin: 0;
}
body {
	display: flex;
	flex-direction: column;
}
.header {
	display: flex;
	justify-content: space-between;
	height: 100px;
	background-color: #9BA9A5;
	align-items: center;
}
.header-nav {
	display: flex;
	justify-content: space-around;
	width: 80%;
}
.header-titre {
	display: flex;
	flex-wrap: nowrap;
}
a {
	text-decoration: none;
	color: white;
}
.main {
	display: flex;
	flex: 1 0;
}
.footer {
	height: 100px;
	background-color: #9BA9A5;
	flex: none;
	margin-top: auto;
}
.sidebar {
	width: 20%;
	border-right: : 2px solid;
}