header nav.navigation ul li.bouton {
	display: inline-block;
	list-style: none;
	margin-right: 10px;
}
h1 {
	text-align: center;
	font-family: arial;
}
#conteneur {
	display: flex;
	justify-content: space-around;
}
.menu {
	flex: 0.5;
}
.article {
	flex: 2;
}
.infos {
	flex: 1;
}