html, body {
	height: 100%;
	margin: 0;
}
body {
	display: flex;
	flex-direction: column;
}
a {
	text-decoration: none;
	color: black;
}
.header {
	display: flex;
	justify-content: space-between;
	height: 100px;
	background-color: #9BA9A5;
	align-items: center;
}
.header-nav {
	display: flex;
	justify-content: space-around;
	width: 80%;
}
.header-titre {
	display: flex;
	flex-wrap: nowrap;
}
.header a {
	color: white;
}
.main {
	display: flex;
	flex: 1 0;
}
.footer {
	height: 100px;
	background-color: #9BA9A5;
	flex: none;
	margin-top: auto;
}
.sidebar {
	width: 15%;
}
.article div{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.article div p {
	display: flex;
	flex-direction: column;
}