.header {
	display: flex;
	justify-content: space-between;
	height: 100px;
	background-color: #9BA9A5;
	align-items: center;
}
.header-nav {
	display: flex;
	justify-content: space-around;
	width: 80%;
}
.header-titre {
	display: flex;
	flex-wrap: nowrap;
}
a {
	text-decoration: none;
	color: white;
}
.main {
	height: 80%;
}
.footer {
	display: flex;
	justify-content: space-between;
	height: 100px;
	background-color: #9BA9A5;
	align-items: center;
	order: 3;
}