.header {
	display: flex;
	justify-content: space-between;
	height: 100px;
	background-color: #92E9D1;
	align-items: center;
}
.header-nav {
	display: flex;
	justify-content: space-around;
	width: 90%;
}